{% extends "base.html" %}

{% block title %}Colosimo: About Colosimo{% endblock %}

{% block content %}
  <h1>About Colosimo</h1>
  <p>Colosimo was an early Chicago Boss, and likewise the Colosimo project is an example of an early project with the Chicago Boss framework.</p>
  <p>Colosimo displays templates, styles, PostgreSQL db shards, user registration/login, and bcrypt password encryption.</p>
  <p>For more details on getting started with Chicago Boss, checkout <a href="https://github.com/evanmiller/ChicagoBoss/wiki/An-Evening-With-Chicago-Boss">An Evening with Chicago Boss</a>, or visit the <a href="http://groups.google.com/group/chicagoboss">mailing list</a>.</p>
  <p>For details on Colosimo, checkout the <a href="https://github.com/imperialwicket/colosimo">github repo</a>.</p>
  <p>For information about James Colosimo, checkout the <a href="https://en.wikipedia.org/wiki/James_Colosimo">Wikipedia article</a>.
{% endblock %}
